In [5]:
import os, sys
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
import pandas as pd
import h5py
from tqdm import tqdm
from skimage.util import img_as_ubyte
from sklearn.metrics import pairwise_distances

sys.path.append("../")
from utils import prewhiten, l2_normalize, read_sampled_identities

In [13]:
data_dir = "/data/vggface/test_preprocessed_sampled"
for identity in os.listdir(data_dir):
    dataset_file = os.path.join(
        data_dir,
        identity,
        "images.h5"
    )
    with h5py.File(dataset_file, 'r') as f:
        data = f["images"][:]
    print(identity, data.shape)

n001781 (48, 160, 160, 3)
n009232 (49, 160, 160, 3)
n000958 (49, 160, 160, 3)
n003356 (46, 160, 160, 3)
n008655 (49, 160, 160, 3)
n008613 (50, 160, 160, 3)
n004658 (46, 160, 160, 3)
n001683 (45, 160, 160, 3)
n002647 (48, 160, 160, 3)
n009288 (46, 160, 160, 3)
n005427 (43, 160, 160, 3)
n002763 (49, 160, 160, 3)
n002503 (46, 160, 160, 3)
n003215 (46, 160, 160, 3)
n005359 (42, 160, 160, 3)
n005303 (47, 160, 160, 3)
n007548 (47, 160, 160, 3)
n000029 (46, 160, 160, 3)
n009114 (44, 160, 160, 3)

In [12]:
data_dir = "/data/vggface/test_preprocessed_sampled"
for identity in os.listdir(data_dir):
    dataset_file = os.path.join(
        data_dir,
        identity,
        "embeddings.h5"
    )
    with h5py.File(dataset_file, 'r') as f:
        data = f["embeddings"][:]
    print(identity, data.shape)

n001781 (48, 128)
n009232 (49, 128)
n000958 (49, 128)
n003356 (46, 128)
n008655 (49, 128)
n008613 (50, 128)
n004658 (46, 128)
n001683 (45, 128)
n002647 (48, 128)
n009288 (46, 128)
n005427 (43, 128)
n002763 (49, 128)
n002503 (46, 128)
n003215 (46, 128)
n005359 (42, 128)
n005303 (47, 128)
n007548 (47, 128)
n000029 (46, 128)
n009114 (44, 128)

In [10]:
identities = read_sampled_identities("../sampled_identities.txt")
for identity in identities:
    print(identity, len(identities[identity]))

n009288 50
n002763 50
n000958 50
n002647 50
n008655 50
n003356 50
n007548 50
n008613 50
n000029 50
n009232 50
n005359 50
n003215 50
n005303 50
n005427 50
n001683 50
n001781 50
n009114 50
n004658 50
n002503 50

In [14]:
bbox_df = pd.read_csv("/data/vggface/bb_landmark/loose_bb_test.csv")

In [15]:
bbox_df.columns

Index(['NAME_ID', 'X', 'Y', 'W', 'H'], dtype='object')

In [26]:
sampled = read_sampled_identities("../sampled_identities.txt")
sampled = pd.DataFrame(np.array([["{}/{}".format(k, v.split(".")[0]) for v in sampled[k]] for k in sampled]).flatten())

In [28]:
pd.merge(left=bbox_df, right=sampled, left_on='NAME_ID', right_on=0)

             NAME_ID    X    Y    W    H                0
0    n000029/0020_01   80   71  119  172  n000029/0020_01
1    n000029/0032_03   21   24   36   43  n000029/0032_03
2    n000029/0047_01   94   56  161  209  n000029/0047_01
3    n000029/0054_01   89   32  141  185  n000029/0054_01
4    n000029/0060_01  146  160  254  310  n000029/0060_01
..               ...  ...  ...  ...  ...              ...
945  n009288/0324_01   68   71  111  139  n009288/0324_01
946  n009288/0330_01   43   36   62   81  n009288/0330_01
947  n009288/0335_01   40   39   59   76  n009288/0335_01
948  n009288/0354_01   77   69  123  161  n009288/0354_01
949  n009288/0357_02   26   28   40   50  n009288/0357_02

[950 rows x 6 columns]